body {
    background-color: #2c2c54;
    color: white;
    font-family: 'Fredoka One', cursive;
}
h1, h4 {
    font-family: 'Abril Fatface', cursive;
    padding: 20px;
    text-align: center;
}

.grid-x {
    background: #cc5599;
    border-radius: 4px;
}

.cell {
    font-weight: 300;
    letter-spacing: 2px;
    background-color: #a32c85;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
}

.ls5 {
    letter-spacing: 5px !Important;
}

